@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.div {
  position: absolute;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  top: 25px;
  left: 1885px;
  border: 2px solid blue;
}

.TripGoal {
  position: absolute;
  Width: 106px;
  Height: 45px;
  top: 27px;
  left: 135px; 
}

.table {
  position: absolute;
  width: Hug (437px);
  height: Hug (18px);
  Top: 41px;
  Left: 502px;
  Gap: 40px;
}

  .table-content {
  display: flex;
  align-items: center;
  justify-content: center; /*или justify-items:center;*/
  font-family: Actor; /* подставить */
  font-weight: 400; /* подставить */
  font-size: 14px; /* подставить */
  word-spacing: 5px;
}

.register {
  width: 15%; /* подставить */
  height: 30px; /* подставить */
  margin: 0 0 0 10%; /* подставить */
  display: flex;
  justify-content: center; /*или justify-items:center;*/
  align-items: center;
  border-radius: 15px; /* подставить */
  background: blue;
}

.register input {
  font-family: Actor; /* подставить */
  font-weight: 400; /* подставить */
  font-size: 14px; /* подставить */
  color: white;
  background: blue;
  border: none;
}